html, body, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #F1F3F8;
}

#body-pd{
    transition: .3s;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
    margin: 2px;
}

::-webkit-scrollbar-thumb {
    background-color: #c4dcff;
    border-radius: 4px;
    background-clip: padding-box;
    border: 2px solid transparent;
}

/* Custom Class */
.hide {
    display: none !important;
}

/* Swal */
.swal2-popup {
    border-radius: 1rem !important;
}

button.swal2-styled {
    border-radius: 0.5rem !important;
}

.swal2-styled.swal2-confirm{
   background-color: #1454FF !important;
}


.swal2-styled.swal2-confirm.btn.btn-success {
    color: #fff;
    background-color: #4caf50;
    border-color: #4caf50;
    box-shadow: 0 2px 2px 0 rgb(76 175 80 / 14%), 0 3px 1px -2px rgb(76 175 80 / 20%), 0 1px 5px 0 rgb(76 175 80 / 12%);
}

.swal2-styled.swal2-confirm.btn.btn-warning {
    background-color: #ffa75c;
}

.swal2-styled.swal2-confirm.btn.btn-warning:focus {
    box-shadow: 0 0 0 0.25rem rgba(217, 164, 6, .5);
}

.swal2-styled.swal2-confirm.btn-info {
    background-color: #4584FF;
}
.swal2-icon.swal2-info{
    border-color: #6f8cff !important;
    color: #4584FF !important;
}


body.swal2-shown.swal2-height-auto {
    height: 100% !important;
}

.swal2-styled.swal2-cancel:focus {
    box-shadow: 0 0 0 3px rgb(149 149 149 / 50%);
}

/* margin */
.mr-1 {
    margin-right: 10px;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.ellipsis:active, .ellipsis:focus {
    white-space: normal;
}

/* main-header*/
.main-header{
    /*position: fixed !important;*/
    display: flex !important;
    width: 100%;
    height: 4rem;
    transition: 0.3s;
    padding: 20px 35px;
    color: #ffffff;
    background: linear-gradient(120deg, #4053ff, #6e96ff)!important;
    box-shadow: 1px 3px 5px #d5e5ff;
    z-index: 100;
}

.main-header .header-left #end-btn{
    font-size: 1px;
    height: 40px;
    position: fixed;
    left: 30px;
    top: 10px;

    box-shadow: none;
    background: transparent;
    color: transparent;
    border: 0;
    cursor: default;
}

/* header */
.header{
    position: fixed !important;
    display: flex !important;
    width: 100%;
    height: 89px !important;
    transition: 0.3s;
    padding: 20px 25px;
    color: #333333;
    /*background: linear-gradient(347deg, #4ca2ff, #a6b4ff) !important;
    box-shadow: 1px 3px 5px #C0D6FF;*/
    z-index: 100;

    transition: .3s; /* side bar */
}

.header .header-left, .header .header-center, .header .header-right,
.main-header .header-left, .header .header-center, .header .header-right{
    font-size: 1.3rem;
    align-self: center;
}

.header .header-left{
    text-align: left;
    flex-grow: 0.55;
}

.main-header .header-left{
    text-align: left;
    flex-grow: 0.5;
}

.header .header-right,
.main-header .header-right{
    text-align: right;
    flex-grow: 0.5;
}

.header .header-center,
.main-header .header-center{
    width: 100%;
    display: flex;
    justify-content: center;
    flex: 3.5;
    margin-top: 1rem;
}

.header .header-title{
    font-size: 1.9rem;
    font-weight: 600;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    flex-grow:1;
}

.main-header .header-title{
    font-size: 1.9rem;
    font-weight: 600;
    align-self: center;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-grow:1;
}

.header .header-title span,
.main-header .header-title span{
    margin-right: 20px;
}

.form-control {
    display: inline !important;
    width: auto;
    border-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem !important;
    border-top-right-radius: 0.8rem !important;

    appearance: auto !important;
}

.form-control:focus {
    box-shadow: none !important;
}

.right-menu .form-control{
    margin-right: 0.5rem;
}

.right-menu .form-control:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, .25);
}

.right-menu select option[value=""][disabled] {
    display: none;
}

.form-control[name="searchItem"] {
    border: none !important;
    border-radius: 2rem;
    font-weight: 500;
    font-size: 1.1rem;
}

.form-control[name="searchWord"] {
    border: none !important;
    border-radius: 0;
    border-radius: 0;
}

.search-container {
    height: 55px;
    flex: 1;
    border: 2px solid #1454FF;
    display: flex;
    padding: 0 10px;
    border-radius: 2rem;
    background: #ffffff !important;
}

.search-container .input-area {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 8;
    padding: 10px;
    align-self: center;
}

.search-container .input-area .btn:hover {
    opacity: 1;
}

.input-area > .form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    font-size: 0.95rem;
}

.search-container .input-area .btn {
    color: #3A7DFF;
    opacity: 0.75;
    padding: 0.3rem 0.5rem;
    box-shadow: none !important;
    border-radius: 2rem;
    font-size: 1rem;
}

/* highlight*/
span.highlight {
    background: #fffbbf;
    margin: 0px 0.15rem;
}

/*
.btn[data-action="clear"]{
    background: white;
    border-radius: 2rem;
    box-shadow: 1px 1px 5px #99b0f5;
    border: 3px solid #6599ff;
}*/

.btn{
    margin-bottom: 0 !important;
    transition: all .15s ease-in;
}

/*.btn:hover{
    transform: scale(1.02);
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.09), 0 2px 3px -1px rgba(0,0,0,.07);
}*/

.header-right .btn {
    background: #1454FF;
    /*line-height: 40px;*/
    border-radius: 5rem;
    font-size: 1.15rem;
    font-weight: 600;
    padding-right: 28px;
    padding-left: 25px;

    position: relative;
    color: white;
}

.header-right .btn:hover,
.header-right .btn:active{
    color: white !important;
    background: #1454FF !important;
}

.table-container .btn[data-action="contain"]:active{
    background: #7097ff !important;
    color: white !important;
}

/* content */
.main-content{
    margin-top: 105px;
}

.search-content {
    margin-top: 21px;
    height: calc(100% - 151px);
    padding: 0px 20px 50px 20px;
}

.table-container {
    background: white;
    height: 100%;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%);
    border-radius: 1.7rem;
    padding: 10px;
}

.content-header {
    margin: 10px 20px 10px 20px;
    /*margin: 20px 43px 10px 43px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.print-btn{
    margin-left: auto;
}

.content-header .btn,
.print-btn .btn {
    background: #343644;
    color: white;
    border-radius: 0.8rem;
    font-size: 0.85rem;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: 1px 1px 5px #999999;
}

.reset-btn{
    background: #626262;
    color: white;
    border-radius: 0.8rem;
    font-size: 0.85rem;
    font-weight: 500;
    padding-right: 1rem;
    padding-left: 1rem;
    box-shadow: 1px 1px 5px #999999;
}

.reset-btn:hover,
.reset-btn:active,
.reset-btn:visited{
    background-color: #464646 !important;
    color: white !important;
}

.content-header .btn i{
    margin-right: 0.2rem;
}

.count-item {
    background: red;
    border-radius: 2rem;
    width: 28px;
    text-align: center;
    /* margin: 0; */
    position: absolute;
    top: -7px;
    right: -4px;
    font-size: 18px;
    color: white;
    height: 27px;
    line-height: initial;
    font-weight: 500;
}

/* tab-menu */
ul.tabs {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;

    position: relative;
}

ul.tabs:after {
    content: ' ';
    display: table;
    clear: both;
}

/*ul.tabs li {
    background: none;
    color: #959595;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;

    font-size: 19px;
    font-weight: 600;

    transition-duration: 0.2s;
}

ul.tabs li:hover {
    font-size: 20px;
    color: #4d4d4d;
}

.content-header .current {
    color: #4584FF !important;
    border-bottom: 4px solid #4584FF;
    font-size: 20px;
}*/


.table-container .content-header .tab-link,
.modal-body .tab-menu .tab-link{
    float: left;
    width: auto;
    text-align: center;

    background: none;
    font-size: 17px;
    font-weight: 600;
}

.content-header .tab-link:nth-child(2).active ~ .slider{
    left: 50%;
}

.slider {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 2px;
    background-color: #111111;
    transition: left .25s;
}

.tab > a,
.tab-modal > a{
    display: block;
    padding: 10px 17px;
    text-decoration: none;
    color: #959595;
    transition: color .15s;
    font-size: 1.3rem;
}

.tab-modal > a {
    display: flex;
    align-items: center;
    padding: 10px 45px;
}

.tab.active > a,
.tab-modal.active > a {
    color: #111111;
}

.tab:hover > a,
.tab-modal:hover > a{
    color: #4d4d4d;
}


/* (modal) tab-menu */
.modal-body{
    height: calc(100% - 90px);
    border-radius: 40px;
    padding: 2rem;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.modal-body > .content-header{
    margin: 5px 30px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*.modal-body .tabs {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    align-items: flex-end;
}

.modal-body .tabs .tab-link {
    color: #A9A9A9;
    borde: 1px solid #A9A9A9;
    display: flex;
    padding: 0.3rem 3.5rem;
    cursor: pointer;

    font-size: 19px;
    font-weight: 600;

    transition-duration: 0.2s;
}*/

.modal-body .tabs .tab-link:hover {
    color: #4d4d4d;
    transform: scale(103%, 103%);
    transition: all .5s;
}

.modal-body .content-header .current {
    color: #111111 !important;
    border-bottom: 2.5px solid #111111;
    font-size: 1.5rem;
} /*삭제*/

.modal-body .tab-menu .current {
    color: #111111 !important;
    border-bottom: 2.5px solid #111111;
    font-size: 1.3rem;
}

.modal-body .tab-menu{
    margin-left: 0.5rem;
}

.modal-body .location-content .active .book-cnt {
    background: #0058ff;
}

.tab-link .book-cnt{
    font-size: 0.9rem;
    font-weight: 400;
    background: #373737;
    color: white;
    border-radius: 4.3rem;
    padding: 3px 9px;
    margin-left: 0.3rem;
    transition-duration: 0.2s;
}

.modal-body div.tab-link{
    border-top-left-radius: calc(0.3rem - -6px) !important;
    border-top-right-radius: calc(0.3rem - -6px) !important;
    padding: 0.3rem 2rem;
}

#callNoModal .modal-footer .btn[data-action="callNo"],
.print-btn .btn[data-action="map"],
.print-btn .btn[data-action="map"]:active{
    background: #343644 !important;
    color: white !important;
    margin-right: 5px;
}

.print-btn .btn[data-action="callNo"],
.print-btn .btn[data-action="callNo"]:active{
    background: #1454FF !important;
    color: white !important;
}

.print-btn .btn[data-action="delete"],
.print-btn .btn[data-action="delete"]:active{
    background: #FF665C !important;
    color: white !important;
    margin-right: 5px;
}

.reset-btn.btn[data-action="restet"],
.reset-btn.btn[data-action="restet"]:active{
    background: #FF665C !important;
    color: white !important;
    margin-right: 5px;
}


#delete-cart{
    background: #888888;
    margin-left: 5px;
}

.location-content{
    margin: 0.5rem;
    height: calc(100% - 86px);
    display: flex;
    justify-content: space-around;
}

.map-content{
/*    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;*/
    background: white;
    border-radius: 20px;
    box-shadow: 3px 4px 3px #4f4f4f1c;
    padding: 0.6rem 1rem;

    height: 100%;
}

/* location.html - leaflet */
.leaflet-control-attribution{
    display: none !important;
}

.map-container{
    position: relative;
    width: 100%;
    height: 685px;

    overflow: hidden; /* 이미지 드래그를 막기 위해 overflow 속성 추가 */
}
#library-image {
    width: 100%;
    height: 100%;
    pointer-events: none;

    user-drag: none; /* 이미지 드래그를 막기 위한 속성 추가 (Chrome과 Safari 지원) */
    -webkit-user-drag: none; /* 이미지 드래그를 막기 위한 속성 추가 (Safari 지원) */
}

#leaflet-map,
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.leaflet-container{
    background: white !important;
}

.leaflet-container .leaflet-marker-pane img{
    filter: drop-shadow(3px 3px 3px rgba(126, 126, 126, 0.56));
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip{
    font-family: "Noto Sans KR", serif;
}


.book-list, .cart-book-list{
    margin-top: 1rem;
    background: white;
    border-radius: 20px;
    box-shadow: 3px 4px 3px #4f4f4f1c;

    height: 100%;
}

.left-container > .left-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 1rem;
}

.left-container{
    margin: 0 0.7rem;
    display: flex;
    flex-direction: column;

    width: 100%;
}

.right-container{
    margin: 0 0.7rem;
    width: 55%;
    display: flex;
    flex-direction: column;
}

.ratio-btn{
    display: flex;
}

.increase-btn, .decrease-btn{
    border-radius: 26px;
    box-shadow: 0px 0px 1px #919191;
    padding: 5px 25px;
    cursor: pointer;
    margin: 0 5px;

    background: #D7DDE5 !important;
    color: #636363 !important;
    font-weight: 600;
    font-size: 0.85rem;
}

.book-list > .book-info,
.cart-book-list > .book-info{
    padding: 1.2rem;
}

.book-info .info-section{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.info-section .book-order{
    border: 2px solid #d9d9d9;
    border-radius: 3px;
    padding: 3px 5px;
    margin-right: 0.4rem;
}

.info-section .book-desc{
    color: #003eb3 !important;
}

.info-section .book-desc .info{
    color: #484848;
    font-size: 0.85rem;
}

.info-section .book-desc .status-msg{
    background: #003eb3;
    background: #434343;
    color: white;
    font-size: 0.75rem;
    border-radius: 8px;
    padding: 0.15rem 0.5rem;
}

.info-section .book-desc .status-msg[data-target="0"] {
    /*background: #e34d7c !important;*/
    background: #ababab !important;
}

.info-section .book-desc .title {
    line-height: 1.5rem !important;
}

.list-group-item{
    /*font-size: 0.85rem !important;*/
    font-weight: 500 !important;

    background: none !important;
    border-bottom: 1px solid #E7E7E7;
    padding: 0.4rem 1.3rem;
    line-height: 1.2rem;
}

.list-group-item img{
    width: 3.5rem;
    margin-right: 0.5rem;
}

.list-group-item:last-child{
    border-bottom: none !important;
}

.list-group-item:first-child{
    border-bottom: 1px solid #E7E7E7 !important;
}

.floor-name{
    font-weight: 400;
}

/* tabulator */
.tabulator {
    border: solid 1px #dddd;
    font-family: 'Noto Sans KR', serif;
    background: none !important;
}
.tab-content {
    /*padding: 15px;*/
    height: 100%;
    color: black !important;
    font-size: 1rem !important;
    border-radius: 1.7rem !important;
}

.tabulator-row .tabulator-cell{
    height: 43px !important;
    padding: 0.5rem 0.55rem !important;
}

.table-content .current {
    display: inherit;
}

.table-content {
    /*margin: 0px 20px;*/
    height: calc(100% - 85px);
}

.tabulator-row{
    border-bottom: 1px solid rgba(34, 36, 38, 0.1) !important;
}

/* tabulator loading*/
.tabulator .tabulator-alert{
    background: rgba(0,0,0,0.08);
}

.tabulator .tabulator-alert .tabulator-alert-msg.tabulator-alert-state-msg {
    color: #4053ff !important;
    border: 3px solid transparent;
}

/* tabulator footer*/
.tabulator .tabulator-footer{
    text-align: center;
}

.tabulator .tabulator-footer .tabulator-page-size{
    border: solid 1px #dee2e6;
    border-radius: 25px;
}

.tabulator-page:disabled{
    cursor: initial !important;
    color: #aaa !important;
    border: 1px solid #ccc !important;
    background-color: #fff;
    pointer-events: none;
}
.table-content .tabulator-paginator{
    font-size: 0.9rem !important;
}

.tabulator-paginator label {
    display: none;
}

.tabulator-page{
    padding: 5px 12px !important;
    color: #333;
    margin: 4px !important;
    border-radius: 25px !important;
    border: 1px solid #ccc !important;
}

.tabulator .tabulator-header .tabulator-header-filter input,
.tabulator .tabulator-header .tabulator-header-filter select{
    flex: 1;
    border: solid 1px #dedede;
    border-radius: 5px;
    padding: 0.375rem 0.55rem !important;
    outline: none;
}

.tabulator .tabulator-footer .tabulator-paginator {
    text-align: center;
}

.tabulator .tabulator-footer .tabulator-page:hover {
    background-color: transparent !important;
    color: #009dfd !important;
    border: 1px solid #009dfd !important;
}

.tabulator .tabulator-footer .tabulator-page.active {
    background-color: #e9f2ff !important;
    color: #000;
    font-weight: 500;
    border: 1px solid #4584ff !important;
}

.tabulator .tabulator-footer .tabulator-page-size {
    background: none;
    border: solid 1px #dee2e6;
    border-radius: 25px;
    padding: 5px;
}

.tabulator .tabulator-footer .tabulator-page-size:hover {
    border: 1px solid #7f7fff;
}

.tabulator .tabulator-footer .tabulator-page[data-page=last],
.tabulator-page[data-page=first] {
    border-radius: 25px !important;
}

/*.tabulator .tabulator-header .tabulator-col{
    background-color: #e9f2ff !important;
}*/
/*.tabulator .tabulator-header{
    background-color: #e9f2ff !important;
}*/

.tabulator-row.tabulator-selectable:hover{
    background: #eaf2ff !important;
}


.tabulator-row.tabulator-selectable .tabulator-cell .row-btn[data-action="location"]:hover{
    background: #ff8f1f !important;
    border: 1px solid #ff8f1f !important;
    color: #ffffff !important;
    transform: scale(105%, 105%);
    transition: all .3s;
}

.tabulator-row.tabulator-selected{
    background-color: #d4e5ff !important;
}

.tabulator-placeholder-contents .placeholder-cart{
    font-family: "Noto Sans KR";
    font-weight: 500 !important;
}

.row-btn {
    border-radius: 20px;
    background: none !important;
    padding: 3px 11px;
    font-weight: 500;
    font-size: 0.9rem;
    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;

    box-shadow: none !important;
}

.row-btn[data-action="location"]{
    border: 1px solid #FFA449 !important;
    color: #FFA449 !important;
}
.row-btn[data-action="cart"]{
    border: 1px solid #1454FF !important;
    color: #1454FF !important;
}
.row-btn.active[data-action="cart"]{
    background: #1454FF !important;
    color: white !important;
}

.row-btn[data-action="delete"]{
    border: 1px solid #FF665C !important;
    color: #FF665C !important;
}

.tabulator-header .tabulator-col {
    font-size: 16px !important;
}

.status-badge{
    padding: 0.5em 0.65em;
    border-radius: 7.7rem;
    margin-right: 0.2rem;
    font-weight: 500;

    display: inline-block;
    font-size: .8em;
    line-height: 1;
    color: #fff;
    text-align: center;

    transition: color .1s ease-in-out,background-color .1s ease-in-out,border-color .1s ease-in-out,box-shadow .1s ease-in-out;
}
.book-status-0{
    color: #FF381D !important;
}

.book-status-1{
    color: #1454FF;
}

/* side tabulator */
.nav-content .table-content{
    margin: 0px !important;
}

.nav-content .tab-content{
    padding: 0px !important;
    height: calc(100% - 97px);
}

.nav-content .table-content .tabulator-row{
    max-height: 105px;
}

.nav-content .tabulator-row .tabulator-cell{
    height: 105px !important;
}


#icon-arrow{
    transition: .5s;
}

.info-container .book-info{
    font-size: 0.85rem;
    line-height: 1.2rem;
    color: #575757;
}

.info-container .book-title{
    font-size: 1.1rem;
}


/* 책바구니 토글버튼 */
:root {
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #4723D9;
    --first-color-light: #AFA5D9;
    --white-color: #F7F6FB;
    --body-font: 'Nunito', sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100
}

*, ::before, ::after {
    box-sizing: border-box
}

.header_toggle {
    color: var(--first-color);
    font-size: 1.5rem;
    cursor: pointer;
}

.navbar {
    margin: 80px 20px 20px 20px;
    position: fixed;
    top: 0;
    right: 0;
    width: 0;
    background-color: white;
    transition: .3s; /* side bar */
    z-index: 100;
    padding: 0;
    border-radius: 1.7rem;

    height: calc(100% - 113px);
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: column;

    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 7%) !important;
}

.nav_container {
    height: 100%;
    overflow: hidden;
}

.nav-show {
    right: 0
}

.body-pd {
    padding-right: calc(var(--nav-width) + 1rem);
    transition: .3s;
}

.active::before {
    /*content: '';*/
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}

.icon-arrow-left:before{
    font-weight: 600;
    font-size: 1rem;
}

/* nav */
.nav-header{
    display: flex;
    justify-content: space-between;

    margin: 20px;
}

.nav-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: #111111;
}

.cart-num{
    color: #1454FF;
}

.info-text{
    font-size: 0.8rem;
    font-weight: 500;
    color: #000000;
}

.nav-content .list-title{
    margin-top: 32px;
    /*margin-right: 10px;*/
    display: flex;
    justify-content: space-evenly;
    /*justify-content: flex-end;*/
}

.nav-content .list-title .btn{
    color: white;
    border-radius: 0.8rem;
    font-size: 0.85rem;
    font-weight: 500;
    padding-right: 16px;
    padding-left: 16px;
    box-shadow: 1px 1px 3px #999999;
    /*margin-left: 7px;*/
}

.nav-content .list-title .btn i{
    margin-right: 0.2rem;
}

.nav-content .list-title .call-no{
    background: #1454FF;
    /*margin: 0;*/
}

.nav-content .list-title .find-location{
    background: #FBB938;
}

.nav-content .list-title .delete{
    background: #FF665C;
}

.nav-content .list-title .delete:hover{
    background: #ff2157;
}

.nav-content .list-title .delete-all{
    background: #343644;
}


.btn-close{
    cursor: pointer;
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat !important;
    opacity: 1 !important;
    font-size: 1.5rem !important;
}

/* modal */
/*.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity .15s linear;
}*/

.modal{
    --bs-modal-width: 100% !important;
}

#eachLocationModal .modal-dialog{
    margin: 1.2rem 6rem !important;
}

#locationModal .modal-dialog{
    margin: 1.2rem 6rem !important;
}

.modal .modal-container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    padding: 0.5rem 0.5rem 1rem 0.5rem;
    border-radius: 30px !important;
    background: #F1F3F8;
    box-shadow: 0px 0px 8px 2px #00000030
}

.hidden {
    display: none;
}

.modal-header{
    padding: 1rem 2.5rem 0 2.5rem !important;
    border-top-left-radius: 40px !important;
    border-top-right-radius: 40px !important;

    border-bottom: none !important;
}

.modal-title{
    font-weight: 600;
    color: #111111;
    font-size: 1.7rem !important;
}

/* 청구기호 modal */
.zindex-edit{
    --bs-modal-zindex: 1050 !important;
}

#callNoModal{
    padding: 0 calc(100% - 72rem);
}

#callNoModal .modal-header{
    border-bottom: var(--bs-modal-header-border-width) solid var(--bs-modal-header-border-color) !important;
    padding: 0.5rem 0.8rem 0.9rem 0.8rem !important
}

#callNoModal .modal-header .modal-title{
    font-size: 1.3rem !important;
}

#callNoModal .btn-close{
    font-size: 1rem !important;
}

.print-callNo-wrapper{
    background: radial-gradient(circle at 50% 0, rgb(0 29 255 / 50%), rgba(255, 0, 0, 0) 70.71%), radial-gradient(circle at 6.7% 75%, rgba(0, 0, 255, .5), rgba(0, 0, 255, 0) 70.71%), radial-gradient(circle at 93.3% 75%, rgb(0 177 255/ 50%), rgba(0, 255, 0, 0) 70.71%) beige;
    padding: 3px;
    border-radius: 21px;

    display: none;
    transition: transform 0.3s ease-in-out; /* 슬라이딩 애니메이션을 추가합니다. */
}

.print-callNo-container{
    /*display: flex;
    align-items: center;*/
    border-radius: 18px;
    background: #F1F3F8;
    padding: 2rem 1.2rem;
    width: 300px;
}

.print-callNo-wrapper.active{
    display: flex;
    transform: translateX(0);
}

.print-callNo-title{
    font-size: 1.1rem;
    font-weight: 600;
}

#callNoModal .modal-footer .btn[data-action="callNo"] {
    font-size: 0.85rem;
    font-weight: 500;
    border-radius: 30px;
}

/* slide */
#callNoModal .print-callNo-wrapper .print-callNo-container .slide-box{
    /*float: left;
    width: 100%;*/

    display: flex;
    align-items: center;
    flex-direction: column;
}

#callNoModal .print-callNo-wrapper .print-callNo-container .slide-box.active{
    display: block;
    transform: translateX(0);
}

#callNoModal .modal-footer .angle-btn{
    background: transparent;
    border: none;
    font-size: 30px;
    color: gold;
}

#callNoModal .modal-footer .angle-btn:active{
    color: darkgoldenrod;
}

#callNoModal .modal-footer .prev {
    margin-right: 20px;
}

#callNoModal .modal-footer .next {
    margin-left: 20px;
}

@media screen and (min-width: 768px) {

    .header {
        height: calc(var(--header-height) + 1rem);
    }

    .nav-show {
        width: calc(var(--nav-width) + 426px)
    }

    .header-pd {
        padding-right: calc(var(--nav-width) + 462px)
    }

    .body-pd {
        padding-right: calc(var(--nav-width) + 442px)
    }

}

@media screen and (min-width: 1380px) and (max-width: 1589px){
    .right-container{
        width: 50%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1379px){
    #eachLocationModal .right-container{
        width: 90%;
    }
}

@media screen and (min-width: 0px) and (max-width: 1670px){
    #eachLocationModal .modal-dialog{
        margin: 1.2rem 6rem !important;
    }
}

@media print {
    :root {
        --img-location-x: 150px;
        --img-location-y: 100px;
    }

    html, body {
        -webkit-print-color-adjust:exact;
        width: 350mm;
        height: 230mm;
        background: none;
    }
    .btn-close,
    .reset-btn {
        display: none;
    }
    .info-section .book-desc .info{
        font-size: 0.7rem;
        line-height: 1.3rem !important;
    }
    .info-section .book-desc .title{
        font-size: 0.8rem;
        line-height: 1.3rem !important;
    }

    .info-section .book-desc .status-msg{
        font-size: 0.8rem !important;
    }

    .modal-body .location-content .left-container {
        width: 280mm; height: 200mm;
    }
    .modal-body .location-content .right-container {
        width: 150mm; height: 200mm;
    }
    .leaflet-control {
        display: none;
    }
    .map-content {
        box-shadow: none;
    }
    .book-list, .cart-book-list {
        box-shadow: none;
    }

    /* 작은이미지 */
    #map > div.leaflet-pane.leaflet-map-pane.print-map-pane-1200{
        transform: translate3d(-100px , -100px, 0px) !important;
    }
    /* 큰 이미지*/
    #map > div.leaflet-pane.leaflet-map-pane.print-map-pane-1600{
        transform: scale(0.9) translate3d(-70px , 0px, 0px) !important;
    }

    /*#map > div.leaflet-pane.leaflet-map-pane.print-map-pane-1600 .leaflet-proxy.leaflet-zoom-animated{
        transform: translate3d(418.5px, 237.5px, 0px) scale(0.25) !important;
    }*/

    /* 책바구니 모달창 */
    .tab-menu .tabs li:not(.active) {
        display: none;
    }
    .tab-menu .tabs .active{
        border-bottom: 2px solid black;
    }
    /* 작은이미지 */
    #leaflet-map > div.leaflet-pane.leaflet-map-pane.cart-print-map-pane-1200{
        transform: translate3d(300px , 300px, 0px) !important;
    }
    /* 큰 이미지*/
    #leaflet-map > div.leaflet-pane.leaflet-map-pane.cart-print-map-pane-1600{
        transform: scale(0.9) translate3d(420px , 300px, 0px)!important;
    }

    .print-callNo-wrapper:not(:last-child) {
        margin-bottom: 10px !important;
    }

    .print-callNo-wrapper {
        display: block !important;
        width: 50% !important;
    }

    .leaflet-pane.leaflet-map-pane .leaflet-proxy.leaflet-zoom-animated{
        /*transform: scale();*/
    }

/*    .map-content { border: 1px solid; }
    .book-list { border: 1px solid; }*/
}
