<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content left">
                        <h1 class="page-title">채용지원</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content right">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">채용정보</a></li>
                            <li>채용지원</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->
    <main>
        <section class="Features section">
            <div class="container">
                <div class="row">
                    <div class="">
                        <div class="apply-career">신입</div>
                        <div class="apply-title">[기숙사] Dormitory 회계</div>
                        <div class="apply-subtitle">
                            <span>정규직</span>
                            <span>상시모집</span>
                        </div>
                    </div>
                    <div class="apply-content">
                        <div>
                            <input type="text" placeholder="성함"/>
                            <button type="button">내국인</button>
                            <button type="button">외국인</button>
                        </div>
                        <div>
                            <input type="radio"/>
                            <input type="radio"/>
                        </div>
                        <div>
                            <input type="number" placeholder="휴대폰 번호('-'없이 입력)"/>
                        </div>
                        <div>
                            <input type="text" placeholder="생년월일(8자리)"/>
                        </div>
                        <div>
                            <input type="text" placeholder="주소"/>
                            <input type="checkbox"/> <div>해외거주</div>
                        </div>
                        <div>
                            <input type="text" placeholder="상세주소를 입력해주세요">
                        </div>
                        <div>
                            <input type="number" placeholder="비상연락처">
                            <select>
                                <option>관계</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Area -->
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/recruit/apply.js"></script>
  </body>
</html>
