<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{components/_include::include_main}"></th:block>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- ========================= header start ========================= -->
    <th:block th:replace="~{components/_header::header_main}"></th:block>
    <!-- ========================= header end ========================= -->

    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content left">
                        <h1 class="page-title">기업개요</h1>
                        <p>Business plan draws on a wide range of knowledge from different business disciplines. Business draws on a wide range of different business .</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content right">
                        <ul class="breadcrumb-nav">
                            <li><a href="../">Home</a></li>
                            <li><a href="">회사소개</a></li>
                            <li>기업개요</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumbs -->

	<!-- Start Features Area -->

    <main>
        <section class="Features section">
            <div class="container">
                <div class="flex-box">
                    <div class="box-1 inview animated fadeInUp">
                        <h2 class="sec-title">
                            <p class="en">Company<br>overview</p>
                        </h2>
                        <!--<div class="date">As of June 25, 2021</div>-->
                    </div>
                    <div class="box-2 inview animated fadeInUp">
                        <div class="profile profile-1">
                            <div class="profile-key">Company name</div>
                            <div class="profile-value">Kyoritsu Maintenance Co., Ltd.</div>
                        </div>
                        <div class="profile profile-2">
                            <div class="profile-key">Established</div>
                            <div class="profile-value">September 27, 1979</div>
                        </div>
                        <div class="profile profile-3">
                            <div class="profile-key">Number of employees</div>
                            <div class="profile-value">5,682 (consolidated)<span class="small">＊As of March 2023</span></div>
                        </div>
                        <div class="profile profile-4">
                            <div class="profile-key">Capital</div>
                            <div class="profile-value">7,964,986,119 yen<span class="small">＊As of March 2023</span></div>
                        </div>
                        <div class="profile profile-5">
                            <div class="profile-key">Headquarters</div>
                            <div class="profile-value">
                                2-18-8 Sotokanda, Chiyoda-ku, Tokyo 101-8621 <br>
                                Telephone: 03-5295-7777
                            </div>
                        </div>
                        <div class="profile profile-6">
                            <div class="profile-key">Main banks</div>
                            <div class="profile-value">
                                Sumitomo Mitsui Banking Corporation<br>
                                Mizuho Bank, Ltd.<br>
                                Development Bank of Japan Inc.<br>
                                The Bank of Mitsubishi UFJ, Ltd.
                            </div>
                        </div>
                        <div class="profile profile-7">
                            <div class="profile-key">Directors</div>
                            <div class="profile-value">
                                <p><span class="position">Chairman</span><span class="name">Haruhisa Ishizuka</span></p>
                                <p><span class="position">President</span><span class="name">Koji Nakamura</span></p>
                                <p><span class="position">Executive Director responsible for Hotel Group</span><span class="name">Yukihiro Sagara</span></p>
                                <p><span class="position">Executive Director responsible for Dormitory Group</span><span class="name">Yasuo Ohara</span></p>
                                <p><span class="position">Managing Director in charge of Planning and Development Group, General Manager of Corporate Planning Division and General Manager of General Sales Division</span><span class="name">Manabu Takaku</span></p>
                                <p><span class="position">Director, General Manager of Resorts Business Department</span><span class="name">Masaki Suzuki</span></p>
                                <p><span class="position">Director, General Manager of Senior Development Division</span><span class="name">Yoshio Kimizuka</span></p>
                                <p><span class="position">Director, General Manager of Development Division</span><span class="name">Hiroshi Yokoyama</span></p>
                                <p><span class="position">Director, General Manager of Food Division</span><span class="name">Rie Momose</span></p>
                                <p><span class="position">Director, in charge of Administration Group and General Manager, Personnel &amp; General Affairs</span><span class="name">Takayuki Musha</span></p>
                                <p><span class="position">Outside Director</span><span class="name">Shigeto Kubo</span></p>
                                <p><span class="position">Outside Director</span><span class="name">Yasunobu Hirata</span></p>
                                <p><span class="position">Outside Director</span><span class="name">Takayuki Hayakawa</span></p>
                                <p><span class="position">Outside Director</span><span class="name">Keiko Oda</span></p>
                                <p><span class="position">Director(Audit and Supervisory Committee Members)</span><span class="name">Takumi Ueda</span></p>
                                <p><span class="position">Outside Director(Audit and Supervisory Committee Members)</span><span class="name">Toshiaki Miyagi</span></p>
                                <p><span class="position">Outside Director(Audit and Supervisory Committee Members)</span><span class="name">Tokio Kawashima</span></p>
                            </div>
                        </div>

                        <div class="profile profile-8">
                            <div class="profile-key">Description of businesses</div>
                            <div class="profile-value">
                                ●Dormitory business (management and operation of student dormitories, corporate dormitories, Dormir facilities (studio type condominium), outsourced dormitories)<br>
                                ●Hotel business (Dormy Inns, resort hotels)<br>
                                ●Senior Life business (management of senior citizen housing)
                            </div>
                        </div>
                        <div class="profile profile-9" id="branch-office-list">
                            <div class="profile-key">Business offices</div>
                            <div class="profile-value">
                                Sapporo office<br>
                                <span class="small">Katagiri 1-3 Building 1F, 3-11-9 Minami-ichijo-higashi, Chuo-ku, Sapporo, Hokkaido 060-0051</span><br>
                                <span class="small">Tel: 011-233-1234</span><br>
                                Tohoku office <br>
                                <span class="small">Kashimakogyo Building 6F, 2-2-3 Honcho, Aoba-ku, Sendai, Miyagi 980-0014</span><br>
                                <span class="small">Tel: 022-223-2655</span><br>
                                Nagoya office <br>
                                <span class="small">Kearny Place Nagoya Fushimi 2F, 1-20-8 Nishiki, Naka-ku, Nagoya, Aichi 460-0003</span><br>
                                <span class="small">Tel: 052-204-6101</span><br>
                                Kyoto office<br>
                                <span class="small">Kyoto Oike Daiichi Seimei Building 8F, 435 Oike-dori Higashinotouin Nishiiru Sasayacho, Kyoto 604-8187</span><br>
                                <span class="small">Tel: 075-221-3656</span><br>
                                Kansai office<br>
                                <span class="small">Sumitomo Building No.2 7F, 4-7-28 Kitahama, Chuo-ku, Osaka 541-0041</span><br>
                                <span class="small">Tel: 06-6233-3600</span><br>
                                Kyushu office<br>
                                <span class="small">ds, Hakata-ku, Fukuoka 812-0011</span><br>
                                <span class="small">Tel: 092-474-0771<br>
                                </span></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Area -->

        <!-- Start Service Area -->
        <section class="services section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">What We Offer You</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Services</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                            <div class="serial">
                                <span><i class="lni lni-code"></i></span>
                            </div>
                            <h3><a href="service-single">Web Solution</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".3s">
                            <div class="serial">
                                <span><i class="lni lni-vector"></i></span>
                            </div>
                            <h3><a href="service-single">Graphics Design</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".4s">
                            <div class="serial">
                                <span><i class="lni lni-ux"></i></span>
                            </div>
                            <h3><a href="service-single">Ui/Ux Design</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".5s">
                            <div class="serial">
                                <span><i class="lni lni-keyword-research"></i></span>
                            </div>
                            <h3><a href="service-single">Strategy & Research</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".6s">
                            <div class="serial">
                                <span><i class="lni lni-seo"></i></span>
                            </div>
                            <h3><a href="service-single">SEO & Marketing</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <div class="single-service wow fadeInUp" data-wow-delay=".7s">
                            <div class="serial">
                                <span><i class="lni lni-bar-chart"></i></span>
                            </div>
                            <h3><a href="service-single">Growth Tracking</a></h3>
                            <p>Need A Project Completed By An Expert? Let’s Go! Access A Human Resources Consultant To Answer Questions</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /End Services Area -->

        <!-- Pricing Table -->
        <section id="pricing" class="pricing-table section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2 col-12">
                        <div class="section-title">
                            <span class="wow fadeInDown" data-wow-delay=".2s">Pricing Table</span>
                            <h2 class="wow fadeInUp" data-wow-delay=".4s">Our Pricing Plan</h2>
                            <p class="wow fadeInUp" data-wow-delay=".6s">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Table -->
                        <div class="single-table wow fadeInUp" data-wow-delay=".3s">
                            <!-- Table Head -->
                            <div class="table-head">
                                <h4 class="title">Basic <span>for small business</span></h4>
                                <div class="price">
                                    <p class="amount"><span class="curency">$</span>29<span class="duration">/mo</span></p>
                                </div>
                            </div>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li>3 Users</li>
                                <li>Unlimited Projects</li>
                                <li>Download Prototypes</li>
                            </ul>
                            <div class="button">
                                <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                            </div>
                            <!-- Table Bottom -->
                        </div>
                        <!-- End Single Table-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Table -->
                        <div class="single-table wow fadeInUp" data-wow-delay=".5s">
                            <!-- Table Head -->
                            <div class="table-head">
                                <h4 class="title">Standard <span>for companies</span></h4>
                                <div class="price">
                                    <p class="amount"><span class="curency">$</span>59<span class="duration">/mo</span></p>
                                </div>
                            </div>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li>5 Users</li>
                                <li>Unlimited Projects</li>
                                <li>Download Prototypes</li>
                            </ul>
                            <div class="button">
                                <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                            </div>
                            <!-- Table Bottom -->
                        </div>
                        <!-- End Single Table-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Table -->
                        <div class="single-table wow fadeInUp" data-wow-delay=".7s">
                            <p class="popular">Popular</p>
                            <!-- Table Head -->
                            <div class="table-head">
                                <h4 class="title">Professonal <span>for small business</span></h4>
                                <div class="price">
                                    <p class="amount"><span class="curency">$</span>79<span class="duration">/mo</span></p>
                                </div>
                            </div>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li>8 Users</li>
                                <li>Unlimited Projects</li>
                                <li>Download Prototypes</li>
                            </ul>
                            <div class="button">
                                <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                            </div>
                            <!-- Table Bottom -->
                        </div>
                        <!-- End Single Table-->
                    </div>
                    <div class="col-lg-3 col-md-6 col-12">
                        <!-- Single Table -->
                        <div class="single-table wow fadeInUp" data-wow-delay=".9s">
                            <!-- Table Head -->
                            <div class="table-head">
                                <h4 class="title">Most Popular <span>for small business</span></h4>
                                <div class="price">
                                    <p class="amount"><span class="curency">$</span>99<span class="duration">/mo</span></p>
                                </div>
                            </div>
                            <!-- Table List -->
                            <ul class="table-list">
                                <li>10 Users</li>
                                <li>Unlimited Projects</li>
                                <li>Download Prototypes</li>
                            </ul>
                            <div class="button">
                                <a class="btn white-bg mouse-dir" href="#">Get Started <span class="dir-part"></span></a>
                            </div>
                            <!-- Table Bottom -->
                        </div>
                        <!-- End Single Table-->
                    </div>
                </div>
            </div>
        </section>
        <!--/ End Pricing Table -->

        <!-- Start Clients Area -->
        <section class="client-logo-section">
            <div class="container">
                <div class="client-logo-wrapper">
                    <div class="client-logo-carousel d-flex align-items-center justify-content-between">
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client1.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client2.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client3.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client4.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client5.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client2.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client3.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client4.png" alt="">
                        </div>
                        <div class="client-logo">
                            <img src="/static/images/bizfinity/client5.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Clients Area -->

        <!-- Start Newsletter Area -->
        <section class="newsletter section">
            <div class="container">
                <div class="row ">
                    <div class="col-lg-6 col-12">
                        <!-- Start Newsletter Form -->
                        <div class="subscribe-text wow fadeInLeft" data-wow-delay=".3s">
                            <h6>Sign up for Newsletter</h6>
                            <p class="">Cu qui soleat partiendo urbanitas. Eum aperiri indoctum eu,<br> homero alterum.</p>
                        </div>
                        <!-- End Newsletter Form -->
                    </div>
                    <div class="col-lg-6 col-12">
                        <!-- Start Newsletter Form -->
                        <div class="subscribe-form wow fadeInRight" data-wow-delay=".5s">
                            <form action="mail/mail.php" method="get" target="_blank" class="newsletter-inner">
                                <input name="EMAIL" placeholder="Your email address" class="common-input" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your email address'" required="" type="email">
                                <div class="button">
                                    <button class="btn mouse-dir white-bg">Subscribe Now! <span class="dir-part"></span></button>
                                </div>
                                </div>
                            </form>
                        </div>
                        <!-- End Newsletter Form -->
                    </div>
                </div>
            </div>
        </section>
    </main>
    <!-- /End Newsletter Area -->

    <!-- Start Footer Area -->
    <th:block th:replace="~{components/_footer::footer_main}"></th:block>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
      <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="/static/js/main/template/bootstrap.min.js"></script>
    <script src="/static/js/main/template/count-up.min.js"></script>
    <script src="/static/js/main/template/wow.min.js"></script>
    <script src="/static/js/main/template/tiny-slider.js"></script>
    <script src="/static/js/main/template/glightbox.min.js"></script>
    <script src="/static/js/main/template/imagesloaded.min.js"></script>
    <script src="/static/js/main/template/isotope.min.js"></script>
    <script src="/static/js/main/template/main.js"></script>

    <script type="text/javascript" src="/static/js/main/page/intro/overview.js"></script>
  </body>
</html>
