html, body, h1, h2, h3, h4, h5, h6, p, div,
button, input, optgroup, select, textarea {
    padding: 0;
    margin: 0;
    font-family: "Noto Sans KR", serif !important;
}

.font-weight-500{
    font-weight: 500;
}


section .sub-title{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 40px;
    background: white;
}
/* apply.html */

.apply-section{
    padding-top: 0 !important;
    background: #f5f5f5;
}

.apply.apply-section .container{
    background: white;
    padding: 0;
    margin: 20px auto;
}

.apply .container .title-container{
    display: flex;
    box-shadow:
            1px 0 0 0 #888,
            0 1px 0 0 #888,
            1px 1px 0 0 #888,
            1px 0 0 0 #888 inset,
            0 1px 0 0 #888 inset;
    padding: 24px;
}

.apply .container .content-default,
.apply .container .content-education,
.apply .container .content-career,
.apply .container .content-personal{
    box-shadow:
            1px 0 0 0 #888,
            0 1px 0 0 #888,
            1px 1px 0 0 #888,
            1px 0 0 0 #888 inset,
            0 1px 0 0 #888 inset;
    padding: 30px 54px;
}

.apply .container .title-container .apply-career{
    font-size: 0.7rem;
    border: 1px solid #b2b2b2;
    border-radius: 3px;
    padding: 0 5px;
}

.apply .container .title-container .apply-title{
    font-size: 1rem;
    font-weight: 600;
    padding-left: 10px;
}

.apply .container .title-container .apply-subtitle{
    font-size: 0.9rem;
    padding-left: 10px;
}

.form_radio_btn {
    height : 45px;
    border: 1px solid #EAE7E7;
}
.form_radio_btn input[type=radio] {
    display: none;
}
.form_radio_btn label {
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 45px;
}

.form_toggle{
    margin-left: 10px;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
    background: #5CA3E1;
    color: #fff;
    padding: 0 20px;
}

/* Hover */
.form_radio_btn label:hover {
    color: #666;
}

/* Disabled */
.form_radio_btn input[type=radio] + label {
    background: #F9FAFC;
    color: #666;
    padding: 0 20px;
}

.apply-content .content-default .apply-address{
    display: flex;
}

.apply-content .category-title {
    font-weight: 600;
    font-size: 1rem;
}

.apply .submit-container{
    display: flex;
    background: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30px;
}

.apply .submit-container .submit-btn button{
    padding: 20px 70px;
    border-radius: 0px;
    font-size: 1rem;
    border: none;
    color: white;
}

.apply .submit-container .submit-btn button[data-action="preview"]{
    background: #0072D6;
    margin-right: 10px;
}

.apply .submit-container .submit-btn button[data-action="submit"]{
    background: #000000;
}

.apply .submit-container .submit-btn{
    margin: 20px 0;
}

.submit-container div span{
    margin-right: 10px;
}


/* inquire */
.apply-inquire .info-container{
    background: white;
    border: 1px solid #9e9e9e;
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: 50px 0;
}

.info-container div lable{
    font-weight: 600;
}

.container .content-container{
    background: white;
    border: 1px solid #9e9e9e;
    padding: 30px;
}

.container .content-container .title{
    font-size: 1rem;
    font-weight: 600;
}

.apply-inquire .container .submit-btn button{
    background: #000000;
    padding: 20px 70px;
    border-radius: 0px;
    font-size: 1rem;
    border: none;
    color: white;
}

.apply-inquire .container .submit-btn{
    display: flex;
    justify-content: center;
    padding: 80px;
}

.apply-inquire .inquire-input{
    resize: none;

}


/* overview */
.overview.section .container .flex-box{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.overview.section .container .flex-box .box-2{
    margin-top: 18px;
}

.company_profile .profile-sec .inner .flex-box .box-2 .profile{

}

.overview.section .container .flex-box .box-2 .profile .profile-key{
    padding-right: 14px;
    border-right: solid 2px #0067bb;
    font-size: 1rem;
    font-weight: bold;
    flex-grow: 1;
    text-align: right;
}

.overview.section .container .flex-box .box-2 .profile .profile-value{
    width: 480px;
    padding-left: 26px;
    margin-right: 5px;
    line-height: 1.8125;
    font-size: 1rem;
    font-weight: bold;
}
.overview.section .container .flex-box .box-2 .profile .profile-value p{
    font-weight: bold !important;
    color: #333;
}

.overview.section .container .flex-box .box-2 .profile-7 .profile-value p{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
    width: 100%;
    margin-bottom: 12px;
}


.sec-title .en {
    color: #0067bb;
    font-size: 3.2rem;
    font-weight: bold;
}

.overview.section .editor-content .box-1{
    height: 6rem;
}

.overview.section .editor-content .box-2{
    display: flex;
    flex-direction: column;
}

.overview.section .editor-content .box-2 .profile{
    display: flex;
    padding-bottom: 10px;
}

.overview.section .editor-content .box-2 .profile-7 .profile-value p .position{
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;

    width: 57%;
    line-height: 1.2;
}

.overview.section .editor-content .box-2 .profile-7 .profile-value p .name{
    width: 32%;
    margin-right: 2%;
    line-height: 1.2;
}

.overview.section .container .flex-box .box-2 .profile .small{
    font-weight: normal;
}

/* vision */
.vision.section{
    background: #F9FAFF;
    padding-bottom: 300px !important;
}

.vision.section .img-wrap{
    width: 100%;
    position: relative;
}

.vision.section .img-wrap img{
    width: 100%;
    vertical-align: middle;
}

.vision.section .img-wrap .img-text{
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate( -50%, -50%);
    font-size: 1rem;
    text-align: center;
}

/* notice/notice */
.notice.section .tabulator{
    border: none !important;
    border-right: 0px;
    font-size: 13px !important;
}

.notice.section .tabulator > div.tabulator-header > div{
    border-top: 2px solid black;
}

.notice-container .notice-title .list-btn{
    padding-left: 10px;
}

/* notice/notice/detail */
.notice.section .notice-container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.notice.section .notice-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
}

.notice.section #title{
    font-weight: 600;
    font-size: 1.5rem;
}

.notice.section .notice-subtitle{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    padding: 10px;
}

.notice.section .notice-content{
    padding: 30px;
    border-bottom: 1px solid #e3e3e3;
}

.notice.section .notice-title .list-btn a {
    font-weight: 500;
}